@model IEnumerable<VasosInteligentes.Models.Planta>

@{
    ViewData["Title"] = "Index";
}

<h1>Plantas</h1>

<p>
    <a asp-action="Create">Criar nova Planta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UmidadeIdealMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UmidadeIdealMan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LuminosidadeIdeal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UmidadeIdealMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UmidadeIdealMan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LuminosidadeIdeal)
            </td>
            <td class="mt-4">
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
